<?xml version="1.0"?>

<model>
  <name>spring buckling test 2</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    A simulated buckling spring constructed by multiple
    linear springs in series.
    The two end plates are connected by two aligned linear springs
    in series, with stiffness constant of 10000 N/m each, and two
    torsional springs in directions orthogonal to the linear
    springs and each other, with torsional stiffness of 0.1 Nm/rad.
  </description>

</model>
