<?xml version="1.0"?>

<model>
  <name>sr_description</name>
  <version>1.0</version>

  <!-- testing different models
  <sdf>model_arm_and_hand.sdf</sdf>
  <sdf>model_arm_and_hand.urdf</sdf>
  <sdf>model_forearm_and_hand.urdf</sdf>
  <sdf>model_handsupport_and_hand.sdf</sdf>
  <sdf>model_handsupport_and_hand.urdf</sdf>
  <sdf>model_forearm_and_hand.sdf</sdf>
  -->
  <sdf>sr_description.urdf</sdf>

  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    starting with https://github.com/shadow-robot/sr-ros-interface, tweak to
    test sr_description for dynamics in gazebo.
  </description>
</model>
